#hero{
  height:50vh;
  background: url("../images/create-g48d8a03b8_1920.jpg") center / cover, linear-gradient(#fcbf49,#003049);
  background-blend-mode: screen;
}

h2{
  color: #f77f00;
}

.isActive{
  outline:2px solid #fcbf49;
}

/* bypass bootstraps default active styling */
.active{
  color: rgba(255, 255, 255, 0.55) !important;
}

.isActiveHome{
  border-bottom: 2px solid #fcbf49;
}

.dark-blue{
  background: rgb(93,38,59);
background: linear-gradient(90deg, rgba(93,38,59,1) 0%, rgba(15,73,103,1) 46%, rgba(0,48,73,1) 100%);
}

.khaki{
  background-color: #f6f6f6;
}

#avatar{
  border:2px solid #8b1240;
}

.proj-card{
  border:1px solid #8b1240 !important;
}

#footer{
  color: #eae2b7;
  background: rgb(93,38,59);
background: linear-gradient(90deg,  rgba(15,73,103,1) 46%, rgba(0,48,73,1) 100%);
}

#footer a{
  color: #eae2b7 !important;
}

.btn-primary{
  background-color: rgba(93,38,59,1) !important;
  border:none !important;
}

.btn-info{
  background-color: rgb(3, 146, 218) !important;
  border:none !important;
}